<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}Sanjay Saraf{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A blog by Sanjay Saraf">
  <meta name="author" content="Sanjay Saraf">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <!--<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">-->
  <link rel="stylesheet" href="/static/css/sanjay.css">
<!--  <link rel="stylesheet/less" href="/static/css/main.less">-->
  {% block css %}{% endblock %}

  <!-- Rather use `less.js` to dynamically compile your `stylesheet/less` files? -->

  <!-- Need Modernizr? Uncomment the following script. -->
  <!-- <script src="/static/js/modernizr.js"></script> -->

</head>

<body>

  <header>
    {% include "header.html" %}
  </header>
  
<div class="container-fluid">
            <div class="sidebar">
                <div class="span2">
                    <header>
                        <h1><a href="/">SANJAY SARAF</a></h1>
                        <br />
                        <span>Med Student</span>
                        <ul>
								<li><p><p><a href="/about">About Me</a></p></li>
                                <li><p><a href="https://twitter.com/svsaraf/">Twitter</a></p></li>
                                <li><p><a href="https://facebook.com/sanjay.saraf/">Facebook</a></p></li>
                                <li><p><a href="https://linkedin.com/svsaraf/">LinkedIn</a></p></li>
                                <li><p><a href="https://github.com/svsaraf/">Github</a></p></li>
                        </ul>
                        <span class="powered-by">
                          Powered by <a href="http://flask.pocoo.org/">Flask</a> on <a href="http://www.heroku.com/">Heroku</a>
                        </span>
                    </header>
                </div>
            </div>

  <div class="content">
  	<div class="row-fluid">
  	  <div class="span9">
  	  	<section>
  	  	{% block main %}{% endblock %}
  	  	</section>
  	  </div>
    </div>
  </div>
</div>

  <footer>
    {% include "footer.html" %}
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery.js">\x3C/script>')</script>


  <!-- Additional JavaScript libraries and plugins... -->
  {% block js %}{% endblock %}


  <!-- Prompt IE < 8 users to install Chrome Frame.  -->
  <!--[if lt IE 8 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
