{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block mainheader %}
<div class="mainheader">
<h1>Research</h1>
<br>
</div>
{% endblock %}

{% block main %}

Over the course of 6 years or so, I've been involved in several research projects. At some point, I'll populate this page with all of those projects so you can read about my contributions.
<!--
<p><a class="mainlink" href="/ber">Base Excision Repair of <i>E. coli</i></a><p>
<p><a class="mainlink" href="/zdna">Homologous Z-DNA Sequences</a><p>
<p><a class="mainlink" href="/myosin">Myosin VI Bioengineering </a><p>
<p><a class="mainlink" href="/mems">Mechanobiology Assays</a><p>
-->
{% endblock %}
