{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block mainheader %}
<div class="mainheader">
<h1>Research</h1>
<br>
</div>
{% endblock %}

{% block main %}

Over the course of 6 years or so, I've been involved in several research projects. At some point, I'll populate this page with all of those projects so you can read about my contributions.

For now, you can read a brief summary of them on my linkedin page here:

<a href="http://www.linkedin.com/in/sanjaysaraf">LinkedIn</a>

{% endblock %}
